.containerCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardForm {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
}

.cardInputs {
  width: 100%;
}
.status {
  width: 33%;
}

.cliente {
  width: 67%;
}
.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.line3 {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.venda {
  width: 33.3%;
}

.peso {
  width: 33.3%;
}

.preco {
  width: 33.3%;
}

.btnInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 14px;
}

.btn {
  width: 49%;
  border-radius: 5px;
}

/* @media screen and () {
} */
