.containerForm {
  width: 100%;
  height: 88.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.cardForm {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.cardInputs {
  width: 100%;
}
.status {
  width: 33%;
}

.cliente {
  width: 67%;
}
.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.line3 {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.btnInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 25px;
  gap: 14px;
}

.btn {
  width: 50%;
  border-radius: 5px;
}

.newFor {
  width: 100%;
  margin: 0;
}
