.containerCard {
  width: 100%;
  height: 88.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.cardForm {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.cardInputs {
  width: 100%;
}
.status {
  width: 33%;
}

.cliente {
  width: 67%;
}
.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.line3 {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.venda {
  width: 33.3%;
}

.peso {
  width: 33.3%;
}

.preco {
  width: 33.3%;
}

.btnInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 14px;
}

.btn {
  width: 49%;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .status {
    width: 33%;
  }

  .cliente {
    width: 67%;
  }
}
